<a href="https://colab.research.google.com/github/sanjana110404/SCT_DS_1/blob/main/SCT_DS_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

# Sample data similar to the Bank Marketing dataset
data = {
    'age': [30, 33, 35, 40, 59, 61, 37, 42, 30, 23],
    'job': ['admin.', 'technician', 'management', 'blue-collar', 'retired', 'retired', 'services', 'management', 'blue-collar', 'student'],
    'marital': ['married', 'married', 'single', 'married', 'married', 'married', 'married', 'married', 'single', 'single'],
    'education': ['university.degree', 'high.school', 'high.school', 'basic.9y', 'university.degree', 'high.school', 'high.school', 'basic.9y', 'basic.6y', 'university.degree'],
    'default': ['no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no'],
    'balance': [1787, 4789, 1350, 1476, 0, 0, 231, 0, 147, 0],
    'housing': ['yes', 'yes', 'yes', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no'],
    'loan': ['no', 'yes', 'no', 'no', 'no', 'no', 'yes', 'no', 'no', 'no'],
    'contact': ['cellular', 'cellular', 'cellular', 'cellular', 'cellular', 'cellular', 'cellular', 'cellular', 'cellular', 'cellular'],
    'day': [19, 11, 16, 3, 5, 5, 20, 17, 30, 25],
    'month': ['oct', 'may', 'apr', 'jun', 'jul', 'jul', 'aug', 'nov', 'apr', 'jun'],
    'duration': [79, 220, 185, 199, 226, 141, 341, 176, 203, 246],
    'campaign': [1, 1, 1, 4, 1, 1, 1, 3, 4, 2],
    'pdays': [3, 999, 999, 999, 999, 999, 999, 999, 999, 999],
    'previous': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
    'poutcome': ['unknown', 'unknown', 'unknown', 'unknown', 'unknown', 'unknown', 'unknown', 'unknown', 'unknown', 'unknown'],
    'y': ['no', 'no', 'no', 'no', 'no', 'no', 'yes', 'no', 'no', 'no']
}

df = pd.DataFrame(data)
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,admin.,married,university.degree,no,1787,yes,no,cellular,19,oct,79,1,3,0,unknown,no
1,33,technician,married,high.school,no,4789,yes,yes,cellular,11,may,220,1,999,0,unknown,no
2,35,management,single,high.school,no,1350,yes,no,cellular,16,apr,185,1,999,0,unknown,no
3,40,blue-collar,married,basic.9y,no,1476,yes,no,cellular,3,jun,199,4,999,0,unknown,no
4,59,retired,married,university.degree,no,0,no,no,cellular,5,jul,226,1,999,0,unknown,no

In [4]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

# Encode categorical variables
label_encoders = {}
for column in df.select_dtypes(include=['object']).columns:
    le = LabelEncoder()
    df[column] = le.fit_transform(df[column])
    label_encoders[column] = le

# Split the data into features and target
X = df.drop('y', axis=1)
y = df['y']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [5]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, classification_report

# Initialize the classifier
clf = DecisionTreeClassifier(random_state=42)

# Train the classifier
clf.fit(X_train, y_train)

# Make predictions
y_pred = clf.predict(X_test)

In [6]:
# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
report = classification_report(y_test, y_pred)

print(f"Accuracy: {accuracy}")
print(f"Classification Report:\n{report}")

Accuracy: 0.6666666666666666
Classification Report:
              precision    recall  f1-score   support

           0       1.00      0.67      0.80         3
           1       0.00      0.00      0.00         0

    accuracy                           0.67         3
   macro avg       0.50      0.33      0.40         3
weighted avg       1.00      0.67      0.80         3

/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))